<div>
  <table>
    <caption>
      Tabela de Usuários
    </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>João Silva</td>
        <td>jdasda</td>
        <td>(11) 98765-4321</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Maria Oliveira</td>
        <td>dasdas</td>
        <td>(21) 12345-6789</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Carlos Souza</td>
        <td>carlosdasdasom</td>
        <td>(31) 99876-5432</td>
      </tr>
    </tbody>
  </table>
</div>
